.marks .graticules {
    fill: none;
    stroke: #dadada;
}

@media (prefers-color-scheme: light) {
    .marks .sphere {
        fill: #ebebec;
    }

    .marks .graticules {
        stroke: #dadada;
    }

    .legendtext {
        font-size: 12px;
        fill: #242424;
    }
}

@media (prefers-color-scheme: dark) {
    .marks .sphere {
        fill: #1b1e23;
    }

    .marks .graticules {
        stroke: rgb(23, 23, 23);
    }

    .legendtext {
        font-size: 12px;
        fill: white;
    }
}

